@include media-md {
    body {
        text-align: left;
    }

    .background {

        align-items: flex-start;
        background-image: url('../assets/tablet/image-host.jpg');
        background-repeat: no-repeat;
        background-position: top right;

        &::before {
            display: none;    
        }
    }

    .container {
        margin: 0px 40px;
    }

    .logo {
        margin-top: 50px;
        margin-bottom: 168px;
    }

    main {
        height: 100vh;
        background-color: $background-color;
        width: 635px;
        font-size: 18px;
        line-height: 28px;

        .title {
            margin: 106px auto 41px auto;
            font-size: 48px;
            line-height: 56px;
        }

        p, form, .platforms {
          width: 432px;  
        }

        .call-to-action {
            
            display: flex;
            flex-direction: column-reverse;
            

            form {
                padding: 5px;
                flex-direction: row;
                justify-content: space-between;
                border-radius: 28px;
                row-gap: 15px;
                grid-template-areas: 
                'email email email submit'
                'error error error error'
                ;
                
    
                .input {
                    margin-bottom: 0px;
                    border: 5px solid $form-field-color;   
                }

                .email-field {
                    grid-area: email;
                    margin-right: -50px;
                }

                .error {
                    grid-area: error;
                }

                .submit {
                    grid-area: submit;
                }
    
            }
        }

        
    }
    .dots {
        position: absolute;
        bottom: 0px;
        left: 40px;
        width: 232px;
        height: 105px;
        background-image: url('../assets/desktop/bg-pattern-dots.svg');
        background-repeat: no-repeat;
    }

}

@include media-lg {
    .background {
        background-image: url('../assets/desktop/image-host.jpg');
        background-position: right 130px;
    }

    .logo {
        margin-top: 103px ;
    }

    .container {
        margin:  0px 165px ;
    }

    main {
        
        .title {
            font-size: 52px;
        }

        p, form, .platforms {
            width: 445px;
        }

    }

    .dots {
        bottom: 80px;
        right: 0px;
        left: auto;
    }

}

@include media-xl {

    body {
        background-color: $background-color;
    }
    .background {
        margin: auto;
        max-width: 2000px;

        .dots {
            display: none;
        }
    }
}
