@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');

$primary-color: #54E6AF;
$active-element-color: #B3FFE2;
$form-field-color: #2C344B;
$background-color: #121725;
$emphasis-color: white;
$placeholder-color: #5A668A;
$main-text-color: #C2CBE5;
