@import "reset";
@import "variables";

body {
    font-family: 'Chivo', sans-serif;
    text-align: center;
    overflow-x: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    height: 100vh;
    width: 100vw;

    &::before {
        content: "";
        background-image: url('../assets/mobile/image-host.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.05;   
      }
}

.background > * { position: relative; } //voodoo to make the button work

.container {
    margin: 0 24px;
}

.logo {
    margin-top: 62px;
}

main {
    
    font-size: 15px;
    color: $main-text-color;
    line-height: 25px;
 
    .title {
        margin: 70px auto 35px auto;
        font-size: 26px;
        line-height: 38px;
        text-transform: uppercase;
        color: white;
    
        em {
            color: $primary-color;
        }
    }

}

footer {

    .platforms {
        margin-top: 40px;  
        flex-direction: row; 
        justify-content: space-between;
      
        .brand {
            height: 17px; 
        }
    }

    form {
        margin-top: 46px;
        display: flex;
        flex-direction: column;

        .input {
            height: 47px;
            border: none;
            outline: none;
            margin-bottom: 16px;
            border-radius: 28px;
            font-weight: 700;
            font-size: 14px;
        }

        .email-field {
            background-color: $form-field-color;          
        }

        .submit {
            background-color: $primary-color;

        }

        .submit:hover {
            background-color: $active-element-color;
        }

    }
}




