@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

$neon-green: #54E6AF;
$dark-gray: #2C344B;
$very-dark-blue: #121725;
$white: white;
$gray-blue: #5A668A;
$light-gray-blue: #C2CBE5;



body {
    margin: 62px 24px;
    text-align: center;
    background-color: $very-dark-blue;

}

main {
    font-family: 'Chivo', sans-serif;
    font-size: 15px;
    color: $light-gray-blue;
    line-height: 25px;
    
    .title {
        margin: 70px 0 35px 0;
        font-family: 'Chivo', sans-serif;
        font-size: 26px;
        line-height: 38px;
        text-transform: uppercase;
        color: white;
    
        em {
            color: $neon-green;
        }
    }

}

footer {

    .platforms {
        margin-top: 40px; 
        display: flex;  
        flex-direction: row; 
        justify-content: space-between;
      
        .brand {
            width: 60px;  
            height: 17px; 
        }
    }

    form {
        margin-top: 46px;
        display: flex;
        flex-direction: column;

        .input {
            height: 47px;
            border: none;
            outline: none;
            margin-bottom: 16px;
            border-radius: 28px;
            font-family: 'Chivo', sans-serif;
            font-weight: 600;
            font-size: 14px;
        }

        .email-field {
            background-color: $dark-gray;
            
        }
    }
}




